{% extends 'main.html' %}
{% block content %}


<section class="h-100 gradient-custom">
    <div class="container py-5">

      <div class="row d-flex justify-content-center my-4">
        <div class="col-md-8">
          {% if cart_item %}
          
          <div class="card mb-4">
            {% for item in cart_item %}
            <div class="card-header py-3">
              <h5 class="mb-0">Cart - {{item.quantity}} items</h5>
            </div>       
            
            <div class="card-body">
              <!-- Single item -->
              <div class="row">
                <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                  <!-- Image -->
                  <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                    <a href="#">
                    <img src="{{item.product.product_image.url}}"
                      class="w-100" /> </a>
                    <a href="#">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                    </a>
                  </div>
                  <!-- Image -->
                </div>
  
                <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                  <!-- Data -->
                  <p><strong><a href="#" class="link-dark"></a></strong></p>


                  <!-- Data -->
                </div>
                
                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                  <!-- Quantity -->
                  <div class="d-flex mb-4" style="max-width: 300px">
                    
                    <div class="input-group-prepend">
                        <a href="{% url 'remove-cart-item' item.product.id %}" class="btn btn-light" type="button" id="button-plus"> - </a>
                        </div>

                    <div class="form-outline">
                      <input id="form1" min="0" name="quantity" value="{{item.quantity}}" type="text" class="form-control" readonly/>
                      <label class="form-label" for="form1">Quantity</label>
                    </div>

                    <div class="input-group-append">

                        <a href="{% url 'add-to-cart' item.product.id %}" class="btn btn-light" type="button" id="button-minus"> + </a>
            
                        </div>

                  </div>
                  <!-- Quantity -->
  
                  <!-- Price -->
                  <p class="text-start text-md-center">
                    <p>Price each: ₹{{item.product.product_price}}</p>
                  </p>

                  <p class="text-start text-md-center">
                    <strong>Sub total: ₹{{item.sub_total}}</strong>
                  </p>
                  <!-- Price -->

                  <a href="{% url 'remove-cart' item.product.id %}" class="btn btn-danger" type="button" >Remove</a>
                </div>
              </div>
              <!-- Single item -->
  
              <hr class="my-4" />
  
 
            </div>
            {% endfor %}

          </div>

        </div>
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-header py-3">
              <h5 class="mb-0">Summary</h5>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li
                  class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                  Total
                  <span>{{total}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                  Tax(2%)
                  <span>{{tax}}</span>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                  <div>
                    <strong>Total amount</strong>
                  </div>
                  <span><strong>₹{{gross}}</strong></span>
                </li>
              </ul>
  
              <a href="#" class="btn btn-primary btn-lg btn-block">
                Go to checkout
              </a>
            </div>
          </div>
        </div>

        {% else %}

        <div class="text-center">
        <h4>No item found in cart</h4>
        <a href="{% url 'store' %}" class="btn btn-outline-primary">Continue Shopping</a>
      </div>
        {% endif %}
      </div>

    </div>
  </section>


{% endblock %}