 <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container">
      
      <!--Django message frame work to display messaged on some action using function-->

    {% if messages %}
    <ul class="messages">
      {% for message in messages %} {% if message.tags == 'error' %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{message}}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% else %}
      <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        {{message}}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endif %} {% endfor %}
    </ul>
    {% endif %}



    <!--Django message framework ends-->

      <div class="header-container d-flex align-items-center justify-content-between">
        <div class="logo">
          <h1 class="text-light"><a href="{% url 'index' %}"><span>S-Street</span></a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html"><img src="img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar">
          <ul>

            <li class="mx-2">
              
              <div class="input-group">
                <form class="d-flex" action="{% url 'search' %}" method="GET">
                  <input class="form-control me-2" type="search" placeholder="Search product.." aria-label="Search" name="query">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>

          </li>

            <li><a class="nav-link scrollto" href="{% url 'store' %}">Store</a></li>
            <li class="dropdown"><a href="#"><span>Categories</span> <i class="bi bi-chevron-down"></i></a>
              <ul>
                <li><a href="{% url 'store' %}">All</a></li>
                {% for category in links %}
                <li><a href="{{category.get_url}}">{{category.category_name}}</a></li>
                {% endfor %}
              </ul>
            </li>
            <li><a href="{% url 'cart' %}">Cart</a></li>
            {% if request.user.is_authenticated %}
            <li><a class="nav-link scrollto" href="#">{{request.user.full_name}}</a></li>
            <li><a class="getstarted scrollto" href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a class="getstarted scrollto" href="{% url 'login' %}">Login</a></li>
            <li><a class="getstarted scrollto" href="{% url 'user-register' %}">Register</a></li>
            {% endif %}
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

      </div><!-- End Header Container -->
    </div>
  </header><!-- End Header -->